@font-face { font-family: ProximaNova; src: url("../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf"); }
html, body, *, h1, h2, h3, h4 { font-family: ProximaNova; }
body {
    background-color: white;
}

h1, h2, h3 { color: #1f95f2; }
ul { list-style-type: none; }
p { color: black; }
header {
    border-bottom: 1px solid #1f95f2;
}

.li {
    padding: 1px;
    border-radius: 4px;
    margin-bottom: 2px;
}

.li:hover {
    background-color: #23273a;
}

.w3-sidebar {
    height: 100%;
    font-size: 16px;
    background-color: #0f111b;
    /* width: 8%; */
}

.content {
    height: 100%;
    background-color: white;
}

.w3-card {
    background-color: white;
    
    /* FOR SHADOWS */
    /* border: 2px solid #f0f2f4;
    box-shadow: none;
    border-radius: 4px; */
}

.navheader {
    padding: 8px 16px;
    color: white;
}

.launch-button {
    background-color: #1f95f2;
    color: white;
    padding: 8px 16px;
    margin-bottom: 16px;
    margin-top: 0px;
    text-align: center;
    border-radius: 1px;
    font-size: 16px;
}

.launch-button:hover {
    color: #23273a;
}

.online-dot {
    border-radius: 50%;
    background-color: #3be5e5;
    height: 12px;
    width: 12px;
}

.inline-container {
    border-radius: 50%;
    background-color: #3be5e5;
    height: 12px;
    width: 12px;
}