@font-face { font-family: ProximaNova; src: url("../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf"); }

html, body, *, h1, h2, h3, h4 {
    font-family: ProximaNova;
}

ul {
    list-style-type: none;
}

.li {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.li:hover {
    background-color: #23273a;
}

.w3-sidebar {
    height: 100%;
    font-size: 16px;
    background-color: #0f111b;
    /* width: 8%; */
}

.content {
    height: 100%;
    background-color: white;
}

.w3-card-4 {
    background-color: #f0f2f4;
}